body{
    background-color: #232323;
    margin: 0;

}
h1{
    text-align: center;
    color: white;
    background-color: rgb(28, 133, 159);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:"Montserrat", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
}
.square{
    border-radius: 12px;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 9px;
    transition: background 0.6s;
}

.square:hover{
    transform: scale(1.08) ;
    transition: 0.5s;
}
.container{
    margin: 30px auto;
    max-width: 600px;
}
#message{
    width: 20%;
    display: inline-block;
}
#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}

#colorDisplay{
    font-size: 200%;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-family:"Montserrat", sans-serif;
    font-weight: 1000;
    color: rgb(28, 133, 159);
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
}

button:hover{
    color: white;
    background-color: rgb(28, 133, 159);
}